#search-bar {
  display: flex;
  width: 400px;
  background-color: white;
  border-radius: 40px;
  margin: 50px auto;
  overflow: hidden;
  box-shadow: 3px 3px 10px -3px grey;
}
input {
  all: unset;
  flex-grow: 1;
  padding: 10px 20px;
}
button {
  border: none;
  margin: 5px;
  padding: 5px;
  border-radius: 40px;
  background-color: rgb(205, 205, 255);
  width: 30px;
  cursor: pointer;
}

button img {
  max-width: 18px;
  max-height: 18px;
}
button:hover {
  background-color: rgb(179, 179, 255);
}
