<!-- <div id="card-list">
  <app-playing-card  />
  <app-playing-card [monster]="monster1" />
</div> -->
<app-search-bar [(search)]="search" />

<div id="card-list">
  @for (monster of filteredMonsters(); track monster ) {
  <app-playing-card [monster]="monster" (click)="openMonster(monster)" />}
  @empty {
  <div class="center">No monsters found !</div>
  }
</div>
@if (filteredMonsters().length ==1) {
<div class="center">Found {{ filteredMonsters().length }} monster !</div>
} @else if (filteredMonsters().length > 1) {
<div class="center">Found {{ filteredMonsters().length }} monsters !</div>
}

<div class="center">
  <button  (click)="addMonster()">Add Monster</button>
</div>
<br /><br />
