<div id="card">
  <div id="inside" [style.backgroundColor]="backgroundColor()">
    <header>
      <div class="left">
        <div id="name">{{ monster().name }}</div>
      </div>
      <div class="right">
        <div id="hp">{{ monster().hp }}</div>
        <img class="energy icon" [src]="monsterTypeIcon()" alt="" />
      </div>
    </header>
    <figure id="art">
      <img [src]="monster().image" alt="" />
      <figcaption>{{ monster().figureCaption }}</figcaption>
    </figure>
    <div id="capacities">
      <div class="capacity">
        <div class="main">
          <div class="cost">
            <img class="icon energy" [src]="monsterTypeIcon()" alt="" />
            <img class="icon energy" [src]="monsterTypeIcon()" alt="" />
          </div>
          <div class="name">{{ monster().attackName }}</div>
          <div class="damage">{{ monster().attackStrength }}</div>
        </div>
      </div>
      <div class="description">
        {{ monster().attackDescription }}
      </div>
    </div>
  </div>
</div>
